body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1f1f1f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo img {
    max-width: 75px;
    height: auto;
}

.member img {
    width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

header h1 {
    font-size: 24px;
    letter-spacing: 2px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #f05454;
}

nav a:active {
    color: #f05454;
    text-decoration: underline;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #121212 url(background.jpg) no-repeat center center/cover;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
}

.section {
    padding: 50px 10%;
    text-align: center;
}

@media (max-width: 768px) {
    header, .section {
        padding: 20px 5%;
    }
    .hero h2 {
        font-size: 32px;
    }
    .hero p {
        font-size: 16px;
    }
}

.section:nth-child(even) {
    background-color: #181818;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #f05454;
}

.tour-dates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.tour-date {
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.tour-date:hover {
    transform: scale(1.05);
    background-color: #2a2a2a;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
}

.privacy-policy-link {
    color: #f05454;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    padding: 5px;
}

.privacy-policy-link:hover {
    color: #f05454;
    text-decoration: underline;
}
.privacy-policy-link:active {
    color: #f05454;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


